@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using NewsPublish.Model.Response;

    <div class="content-wrap">
        <div class="content">
            <div class="title">
                <h3 style="line-height: 1.3">@ViewData["ClassifyName"]</h3>
            </div>
            @{
                var response = ViewData["NewsList"] as ResponseModel;
                if (response.code == 200)
                {
                    foreach (var n in response.data)
                    {
                        <article class="excerpt">
                            <a class="focus" href="/News/Detail?id=@n.Id" title="@n.Title" target="_blank"><img class="thumb" data-original="@n.Image" src="@n.Image" alt="@n.Title" style="display: inline;"></a>
                            <header>
                                <h2><a href="/News/Detail?id=@n.Id" title="@n.Title" target="_blank">@n.Title</a></h2>
                            </header>
                            <p class="meta">
                                <time class="time"><i class="glyphicon glyphicon-time"></i>@n.PublishDate</time>
                                <a class="comment" title="Review" target="_blank"><i class="glyphicon glyphicon-comment"></i>@n.CommentCount</a>
                            </p>
                            <p class="note">@n.Contents</p>
                        </article>
                    }
                }
            }
        </div>
    </div>
    <aside class="sidebar">
        <div class="fixed">
            <div class="widget widget_search">
                <form class="navbar-form" action="/Search" method="post">
                    <div class="input-group">
                        <input type="text" name="keyword" id="keyword" class="form-control" size="35" placeholder="Please input keywords" maxlength="15" autocomplete="off">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-search" name="search" type="button" onclick="searchKeyword()">Search</button>
                        </span>
                    </div>
                </form>
            </div>

        </div>
        <div class="widget widget_hot">
            <h3>Latest commented news</h3>
            <ul>
                @{
                    var newCommentNews = ViewData["NewCommentNews"] as ResponseModel;
                    if (response.code == 200)
                    {
                        foreach (var n in newCommentNews.data)
                        {
                            <li>
                                <a title="@n.Title" href="/News/Detail?id=@n.Id">
                                    <span class="thumbnail">
                                        <img class="thumb" data-original="@n.Image" src="@n.Image" alt="@n.Title" style="display: block;">
                                    </span><span class="text">@n.Title</span><span class="muted">
                                        <i class="glyphicon glyphicon-time"></i>
                                        @n.PublishDate
                            </li>
                        }
                    }
                }

            </ul>
        </div>
    </aside>

<script type="text/javascript">
    function searchKeyword() {
        var keyword = $("#keyword").val();
        if (keyword) {
            $.ajax({
                type: 'get',
                url: '/Home/SearchOneNews',
                data: { keyword: keyword },
                success: function (res) {
                    if (res.code == 200) {
                        window.open("/News/Detail?id=" + res.data);
                    } else {
                        window.open("/Home/NoResult");
                    }
                }
            })
        }
    }
</script>